.footer {
  background-color: var(--color-wine); /* Cor background */
}
.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 34px 24px 32px;
  text-align: center;
}
/* Logo */
.footer-logo {
  margin-bottom: 24px;
}
.logo-footer {
  width: 150px;
  height: auto;
}
/* Localização e horário */
.footer-info p,
.footer-location p,
.footer-social p {
  color: var(--color-beige);
  font-size: 1rem;
  line-height: 1.55;
}
.footer-title,
.location-title {
  font-weight: var(--weight-title);
  line-height: 1.4;
  margin-bottom: 6px;
}
/* Redes Sociais */
.footer-social {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
  margin-top: 35px;
}
.social-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.social-icons a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
}
.social-icon {
  width: 24px;
  height: 24px;
  object-fit: contain;
}
/* Copyright */
.footer-bottom {
  padding: 14px;
  text-align: center;
  background-color: var(--color-gold);
}

@media screen and (min-width: 768px) {
  .footer-content {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
    padding: 48px 140px;
  }
  .logo-footer {
    width: 240px;
  }
  .footer-logo {
    margin-bottom: 0;
  }
  .footer-social {
    margin-top: 0;
  }
}
